<div id="search-page">
  <%= form_tag '/search', method: 'get', id: 'filters-form', enforce_utf8: false, autocomplete: 'off' do %>

    <div class="filters-list">

      <div class="filter">
        <%= text_field_tag nil, nil, placeholder: 'camera', class: 'visible' %>
        <div class="autocomplete">
          <%= text_field_tag :camera_id, nil, hidden: true, class: 'shadow' %>
          <%= content_tag :ul, class: 'list' do %>
            <% Camera.all.each do |camera| %>
              <%= content_tag :li, camera.model, id: camera.id %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="filter">
        <%= text_field_tag nil, nil, placeholder: 'lens', class: 'visible' %>
        <div class="autocomplete">
          <%= text_field_tag :lens_id, nil, hidden: true, class: 'shadow' %>
          <%= content_tag :ul, class: 'list' do %>
            <% Lens.all.each do |lens| %>
              <%= content_tag :li, lens.model, id: lens.id %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="filter">
        <%= text_field_tag :focal_length, nil, placeholder: 'focal length' %>
      </div>

      <div class="filter">
        <%= text_field_tag :aperture, nil, placeholder: 'aperture' %>
      </div>

      <div class="filter">
        <%= text_field_tag :shutter_speed, nil, placeholder: 'shutter' %>
      </div>

      <div class="filter">
        <%= text_field_tag :iso, nil, placeholder: 'iso' %>
      </div>

      <%= hidden_field_tag 'commit', 'true' %>

      <div id="search-button" class="filter">
        <%= button_tag 'search', type: :button %>
      </div>

    </div>

  <% end %>

  <div class="images-list">
    <% @images.each do |image| %>
      <div class="image">
        <%= link_to image_tag(image[:thumbnail_url]), image[:page_url] %>
      </div>
    <% end %>
  </div>

  <%= paginate @images unless @images.empty? %>
</div>
